        <div class="breadcrumbs">
        {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
          <a href="{{ '/' | relative_url }}">Home</a>
        {% for crumb in crumbs offset: 1 %}
          {%-if forloop.last-%}
            &#x2009;|&#xa0;{{ page.title }}
          {%-else-%}
            &#x2009;|&#xa0;<a href="{%-assign crumb_limit = forloop.index | plus: 1-%}
              {%-for crumb in crumbs limit: crumb_limit-%}
                {%-if forloop.first-%}
                  {{ crumb | relative_url }}
                {%-endif-%}
                {{ crumb | append: '/' }}
              {%-endfor-%}">
              {{ crumb | replace:'-',' ' | remove:'.html' }}
          </a>
          {%-endif-%}
        {% endfor %}
        </div>