<!DOCTYPE html>
<html>
	<head>
{% include head.html %}
	</head>
{% if page.classes %}
	<body class="{{ page.classes | join: ' ' }}">
{% else %}
	<body>
{% endif %}
		<button onclick="topFunction()" id="scrollButton" title="Go to top">Top</button>
		<a href="#content" class="sr-only">Skip to content</a>
		<div class="container">
{% include header.html %}
			<div class="row mt-4" id="content">
				<div class="col-md-9">
					<article class="mb-4">
							<h1>{{ page.title | escape }}</h1>
							<p class="text-muted">
								{{ t.posted_on }}<time datetime="{{ page.date | datetime | date_to_xmlschema }}">
                                    {{ page.date | date: page.date_fmt }}</time>
{% if page.author %}by {{ page.author }}{% endif %}
							</p>
{{ content }}
					</article>
					<p class="my-4 text-center">
						<a class="btn btn-lg btn-default" href="/news/archive/">
                            <i class="fa fa-calendar fa-fw"></i>News Archive</a>
					</p>
				</div>
			</div>
{% include footer.html %}
		</div>
{% include scripts.html %}
	</body>
</html>
